<!DOCTYPE html>
<html>
  <head>
    <title>博客</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p id="myId">我的ID</p>
    <script type="module" src="/javascripts/index.js"></script>
  </body>
</html>
