<!-- <%- include('common/header') -%>
    <div>static</div>
<%- include('common/footer') -%> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    <link rel="stylesheet" href="/css/static.css">
</head>
<body>
    <div>static2</div>
    <img src="/imgs/1.jpg" alt="">
    <div id="mybtn">点击事件</div>
    <script src="/js/static.js"></script>
</body>
</html>