{{ include './../common/header.html' }}
<link rel="stylesheet" href="/css/user/index.css">
{{ include './../common/header_sub.html' }}
<div class="container">
    {{ include './../common/container/header.html' }}
    {{ include './../common/container/menu.html' }}
    <div class="main-container">
        <ul class="user-add-panel">
        </ul>
    </div>
{{ include './../common/footer_sub.html' }}
<script src="/lib/sha256.js"></script>
<script src="/js/user/add.js"></script>
{{ include './../common/footer.html' }}